* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    transition: background-color 0.3s;
    background-color: #0d1224;
}

body.dark-mode {
    background-color: #005881;
    color: white;
}

#navbar {
    background-color: rgb(0, 126, 158);
    color: black;
    padding: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #navbar {
    background-color: #006888;
    color: white;
}

/* Navbar styling  and Home page Area*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    /* ✅ Semi-transparent background */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 10px 0;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #fff5f5;
    padding-left: 25px;
    /* space for arrow */
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

/* Arrow animation */
.nav-links a::before {
    content: "➤";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-10px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #00a2ff;

}


.nav-links a:hover::before {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
}

.nav-links a:hover {
    color: #00a2ff;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 5px;
}

/* ZP Picture */
.zp {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

/*Main*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.young-image {
    width: 100%;
    filter: drop-shadow(4px 4px 10px rgba(185, 185, 185, 0.5));
    object-fit: cover;
}

.text {
    color: white;
    max-width: 650px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



.others-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* space between items */
    flex-wrap: wrap;
    /* wrap items on smaller screens */
    margin: 20px 0;
    text-align: center;

}

.others {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 100px;
    text-align: left;
    flex-direction: row;
    /* side-by-side layout */

}



.others .numbers {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.others .experience {
    font-size: 0.9rem;
    color: #fff;
    margin: 0;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* Line */
.Line {
    flex-direction: column;
    font-size: 10px;
    margin: 15px;
}



/* Optional media query for extra responsiveness */
@media (min-width: 600px) {
    .others {
        width: 45%;

    }

}

@media (min-width: 900px) {
    .others {
        width: 30%;
    }
}




/*Home text*/
.front-text {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;

}

.back-text {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;

}

.dev-text {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;

}


.front-text,
.back-text,
.dev-text {
    animation: floatUp 3s linear infinite;
    position: relative;
    margin: 20px;
}

/* Different delays to make it look dynamic */
.back-text {
    animation-delay: 1s;
}

.dev-text {
    animation-delay: 2s;
}


.github-icon {
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #000;
    font-size: 30px;
}

.username:hover .github-icon {
    transform: translateY(-50%) scale(1);
    opacity: 1;
}

@keyframes floatUp {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}



/* Mobile Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 88px;
        right: 0;
        width: 100%;
        flex-direction: column;
        /* Semi-transparent for blur */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        text-align: center;
        z-index: 1000;
        display: none;
    }

    .text {
        margin-top: 90px;
        max-width: 90%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 1rem 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    #toggle-dark {
        margin-bottom: 20px;
    }


    .github-icon {
        position: relative;
        top: 30px;
        font-size: 50px;
    }

}


/* From Uiverse.io by mrhyddenn */
.button {
    margin: 30px auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #005864;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}

/* HandWave */
.hand-wave {
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
    /* Make it look natural from wrist */
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* fullname */
.fullname {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    width: 70%;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    font-weight: 600;

}

/*Nickname*/
.Nickname {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Name */

.name {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.name::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00bfff;
    left: 0;
    bottom: 0;
    transition: width 0.4s ease;
}

.name:hover::after {
    width: 100%;
}

/* Username */
.username {
    font-size: 2.5rem;
    color: #ffff;
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    font-family: 'Roboto', sans-serif;
}


/* darkmode */
.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}

button {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.2);
}

/* Dark mode styles */
body.dark-mode {
    background: hsl(0, 0%, 0%);
    color: #ffffff;
}

#toggle-dark {

    color: white;
    border: none;
    margin-top: -3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/*About Me*/
.about-section {
    padding: 80px 0;
    padding-top: 150px;
    color: #fff;
    text-align: center;
    height: 100vh;
}

.About-Title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00bcd4;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;

}

.about-description-paragraph {
    font-size: 1.1rem;
    color: #fff;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;

}

.about-text {
    max-width: 500px;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .about-text {
        text-align: center;
        padding: 0 20px;
    }

    .about-img {
        margin: 0 auto 20px auto;
    }
}











/* Skills */

.Front-Text {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.minus {
    color: #ffffff;
    font-size: 2rem;
    width: 30px;
    height: auto;

}

.space {
    margin-top: 40px;
}

.Tech-Stack {
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.scroll-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    padding: 20px 0;
}

.scroll-track {
    display: flex;
    width: calc(250px * 10);
    /* image width * (image count * 2) */
    animation: scroll 20s linear infinite;
}

.box {
    flex: 0 0 auto;
    width: 250px;
    height: 150px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    /* Blur the background behind it */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 8px 32px rgba(70, 70, 70, 0.25);
    /* Optional shadow */
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.size {
    width: 100px;
    height: 100px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Make it responsive */
@media (max-width: 600px) {
    .box {
        width: 150px;
        height: 100px;
    }

    .size {
        width: 80px;
        height: 80px;
    }
}


.Front-End {
    height: 100vh;
    padding-top: 150px;
}



/* Tooltip text */
.tooltip {
    position: absolute;
    bottom: 10px;
    background-color: rgba(29, 29, 29, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
}

.box:hover .tooltip {
    opacity: 1;
}


/* Button up */

#scrollUpBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px 18px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

#scrollUpBtn:hover {
    background-color: #000000;
    transform: scale(1.1);
}

.fas.fa-angle-up {
    color: white;
    font-size: 20px;
}


/*Projects*/
.projects-section {
    height: 100vh;
}

.projects-section .Projects {
    padding-top: 150px;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;

}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-box {
    width: 250px;
    height: 150px;
    margin: 0 10px;
    backdrop-filter: blur(10px);
    /* Blur the background behind it */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 8px 32px rgba(70, 70, 70, 0.25);
    /* Optional shadow */
    border-radius: 10px;
    overflow: hidden;
}

.project-box:hover {
    transform: translateY(-5px);
}

.project-box .Project-title {
    margin-bottom: 10px;
    color: #007BFF;
    text-align: center;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.project-box .Description {
    color: #555;
    font-size: 0.95rem;
    text-align: center;
}

/* Responsive for larger screens */
@media (min-width: 600px) {
    .project-box {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .project-box {
        width: 30%;
    }
}

/* Team Section */
.team-section {
    height: 100vh;
    padding-top: 150px;
}

.team-section .Team {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.team-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-member-image {
    margin: 20px auto;
    /* auto left/right centers block elements */
    display: block;
    /* ensures image is a block element */
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 150px;
    transition: transform 0.3s ease;
}

.team-member-role {
    font-size: 1rem;
    color: #ccc;
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    animation: fadeup 1s ease;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.team-member-role {
    animation: fadeUp 1s ease;
}


.team-member-name {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.team-member {
    width: 300px;
    height: 300px;
    margin: 0 10px;
    backdrop-filter: blur(10px);
    /* Blur the background behind it */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 8px 32px rgba(70, 70, 70, 0.25);
    /* Optional shadow */
    border-radius: 10px;
    overflow: hidden;
}


/*Contact*/
.contact-section {
    height: 100vh;
    padding-top: 150px;
}

.contact-info {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;

}

.Contact {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .contact-section {
        padding: 40px 10px;
        height: auto;
        padding-top: 1000px;
    }

    .Contact {
        font-size: 2rem;
    }

    .contact-info {
        font-size: 1rem;
        margin-top: 10px;
    }

    .contact-details {
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        align-items: center;
    }

    .contact-item {
        width: 100%;
        text-align: center;
    }

    .contact-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto 10px auto;
        font-size: 20px;
    }

    .contact-link {
        font-size: 1rem;
        margin-top: 10px;
    }

    .contact-Social-Media {
        font-size: 1rem;
        margin: 10px 0;
    }

}


.contact-details {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    transition: gap 0.4s cubic-bezier(0.4, 0, 0.2, 1), margin-top 0.4s cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-details:hover {
    gap: 70px;
    margin-top: 60px;
}

.contact-icon {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    /* centers horizontally in its parent */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0027d4;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    border: 4px dashed #fff;

}

.contact-phone {
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease;
    margin-top: 20px;
}

.contact-Social-Media {
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease;
    margin: 20px;
}

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #00bcd4;
}

.footer-links,
.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a,
.footer-socials a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover,
.footer-socials a:hover {
    color: #00bcd4;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
}

.footer-logo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #00bcd4;
    transition: width 0.3s ease;
}

.footer-logo:hover::after {
    width: 100%;
}

.footer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links,
    .footer-socials {
        flex-direction: column;
    }
}

/* spinnner */


/* Loader Overlay */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0d1224;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Squares from Uiverse.io */
@keyframes loader_5191 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.square {
    background: #ddd;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
}

#sq1 {
    margin-top: -25px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
    margin-top: -25px;
    animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
    margin-top: -25px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
    animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
    margin-top: 15px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
    margin-top: 15px;
    animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
    margin-top: 15px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 600ms infinite;
}